// Page
.page {
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
    max-width: 1000px;
}

.page-buttons {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button {
    margin: 1rem;
    padding: 0.5rem;
    width: 10rem;
}

.info-card {
    margin: auto;
    max-width: 600px;
}

// forms
.login-form {
    margin: auto;
    width: 80%;

    mat-form-field {
        width: 100%;
    }
}

table {
    margin-top: 2rem;
    width: 100%;
}

@keyframes fadeout{
    from {opacity: 100%;}
    to {opacity: 0%;}
}

@keyframes fadein{
    from {opacity: 0%;}
    to {opacity: 100%;}
}

.fade-out{
    animation-name: fadeout;
    // animation-duration: 1s;
}

.fade-in{
    animation-name: fadein;
    // animation-duration: 1s;
}

// Card styles

.card-primary {
    background-color: #3056a1;
    color: white;
}

.card-accent {
    background-color: #5c72b4;
    color: white;
}

.card-warn {
    background-color: rgb(216, 94, 94);
    color: white;
}

mat-form-field {
    margin-bottom: 1rem;
}