<mat-toolbar color="primary">
    <span>
        <a routerLink="/home"><img src="/assets/favicon-150x150.png" width="65px" alt="elision logo"></a>
    </span>
    <span class="spacer"></span>
    <ul>
        <li>
            <a *ngIf="user" style="cursor: pointer;" (click)="onLogout()"><mat-icon>login</mat-icon>Logout</a>
        </li>
    </ul>
</mat-toolbar>
<!-- 
<div class="account-circle">
    <button mat-icon-button (click)="toProfile()">
        <mat-icon >account_circle</mat-icon>
    </button>
</div> -->

