<div class="page">
    <mat-card>
        <h1>Meetings bekijken</h1>
        <hr>
        <div>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">

                    <!-- Datum Column -->
                    <ng-container matColumnDef="datum">
                        <th mat-header-cell *matHeaderCellDef> Datum </th>
                        <td mat-cell *matCellDef="let meeting"> {{meeting.datum | date}} </td>
                    </ng-container>

                    <!-- Ruimte Column -->
                    <ng-container matColumnDef="ruimte">
                        <th mat-header-cell *matHeaderCellDef> Ruimte </th>
                        <td mat-cell *matCellDef="let meeting"> {{meeting.ruimte.name}} </td>
                    </ng-container>

                    <!-- Bedrijf Column -->
                    <ng-container matColumnDef="bedrijf">
                        <th mat-header-cell *matHeaderCellDef> Bedrijf </th>
                        <td mat-cell *matCellDef="let meeting"> {{meeting.bedrijfsnaam}} </td>
                    </ng-container>

                    <!-- # personen Column -->
                    <ng-container matColumnDef="aantalpersonen">
                        <th mat-header-cell *matHeaderCellDef> # personen </th>
                        <td mat-cell *matCellDef="let meeting"> {{meeting.aantalPersonen}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
        <div class="page-buttons">
            <p>
                <button mat-raised-button (click)="toHome()">Hoofdmenu</button>
            </p>
        </div>
    </mat-card>
</div>