<div class="page">
    <mat-card>
        <div class="fade-in">
        <h1>Vergaderruimte reserveren</h1>
        <hr>
        <div class="page-buttons">
            <div *ngIf="pageLoaded" class="fade-in">
                <form #reservationForm="ngForm" (ngSubmit)="onSubmit()">
                    <mat-form-field>
                        <mat-label>Aantal personen</mat-label>
                        <mat-input>
                            <input matInput type="number" min="2" required name="numberOfPersons" [(ngModel)]="newMeeting.numberOfPersons" (change)="numberOfPersonsChangeEvent($event)" >
                        </mat-input>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Vergaderruimte</mat-label>
                        <mat-select placeholder="Selecteer vergaderruimte" required name="roomname" [(ngModel)]="newMeeting.meetingRoom" >
                            <mat-option *ngFor="let meetingRoom of filteredMeetingRooms" [value]="meetingRoom.id">
                                {{meetingRoom.name}} | {{meetingRoom.campus.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Bedrijfsnaam</mat-label>
                        <mat-input>
                            <input matInput type="text" placeholder="Bedrijfsnaam" required name="companyName" [(ngModel)]="newMeeting.companyName">
                        </mat-input>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Datum</mat-label>
                        <mat-input>
                            <input matInput type="date" [(ngModel)]="newMeeting.date" required name="date">
                        </mat-input>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Periode</mat-label>
                        <mat-select placeholder="Selecteer periode" [(ngModel)]="newMeeting.period" required name="periode">
                            <mat-option [value]="1">Voormiddag</mat-option>
                            <mat-option [value]="2">Namiddag</mat-option>
                            <mat-option [value]="3">Hele dag</mat-option>
                            <mat-option [value]="4">Hele week</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <button mat-raised-button type="submit" color="primary" [disabled]="!reservationForm.form.valid || submitted">Indienen</button>
                </form>
            </div>
            <div *ngIf="!pageLoaded">
                <mat-progress-spinner style="margin: auto;" mode="indeterminate" color="primary"></mat-progress-spinner>
            </div>
            <p>
                <button mat-raised-button (click)="back()" color="warn">Terug</button>
            </p>
        </div>
    </div>
    </mat-card>
</div>


