<div class="page fade-in">
    <mat-card>
        <h1>Mijn reservaties</h1>
        <hr>
        <div *ngIf="reservationsForUser.length > 0 && pageLoaded" class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
                <ng-container matColumnDef="Datum">
                    <th mat-header-cell *matHeaderCellDef> Datum </th>
                    <td mat-cell *matCellDef="let reservation"> {{ reservation.date | date }} </td>
                </ng-container>

                <ng-container matColumnDef="Campus">
                    <th mat-header-cell *matHeaderCellDef> Campus </th>
                    <td mat-cell *matCellDef="let reservation"> {{ reservation.campus}} </td>
                </ng-container>

                <ng-container matColumnDef="Sectie">
                    <th mat-header-cell *matHeaderCellDef> Sectie </th>
                    <td mat-cell *matCellDef="let reservation"> {{ reservation.section}} </td>
                </ng-container>

                <ng-container matColumnDef="Stoel">
                    <th mat-header-cell *matHeaderCellDef> Stoel </th>
                    <td mat-cell *matCellDef="let reservation"> {{ reservation.chair }} </td>
                </ng-container>

                <ng-container matColumnDef="Tijdstip">
                    <th mat-header-cell *matHeaderCellDef> Tijdstip </th>
                    <td mat-cell *matCellDef="let reservation"> {{ reservation.start }} - {{ reservation.end }} </td>
                </ng-container>

                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                        <div class="example-element-detail"
                            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                            <div class="actions border-top-grey">
                                <button mat-button color="warn" (click)="openDialog(element)">ANULLEREN</button>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
                    [class.example-expanded-row]="expandedElement === element"
                    (click)="expandedElement = expandedElement === element ? null : element">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
        <div *ngIf="reservationsForUser.length <= 0 && pageLoaded">
            <h3>Je hebt nog geen reservaties</h3>
        </div>
        <div *ngIf="!pageLoaded">
            <mat-progress-spinner style="margin: auto;" mode="indeterminate" color="primary"></mat-progress-spinner>
        </div>
        <div>
            <p>
                <button mat-raised-button color="primary" (click)="toHome()">
                    <mat-icon>home</mat-icon> Hoofdmenu
                </button>
            </p>
        </div>
    </mat-card>

</div>