<div class="page">
    <mat-card>
        <h1>Reserveren</h1>
        <hr>
        <div class="page-buttons">
            <p>
                <button mat-raised-button (click)="toReserveDesk()">Bureau reserveren</button>
            </p>
            <p>
                <button mat-raised-button (click)="toReserveMeeting()">Ruimte reserveren</button>
            </p>
            <p>
                <button mat-raised-button (click)="toHome()">Hoofdpagina</button>
            </p>
        </div>
    </mat-card>
</div>
