<div class="page">
    <mat-card>
        <h1>Reservations Menu</h1>
        <hr>
        <div class="page-buttons">
            <p>
                <button mat-raised-button (click)="toReserveDesk()">Reserve desk</button>
            </p>
            <p>
                <button mat-raised-button (click)="toReserveMeeting()">Reserve meeting</button>
            </p>
            <p>
                <button mat-raised-button (click)="toHome()">Home</button>
            </p>
        </div>
    </mat-card>
</div>
