<div class="page fade-in">
    <mat-card>
        <h1>Pauze</h1>
        <hr>
        <p>Drukte in de pauzeruimtes:</p>
        <div *ngIf="pageLoaded">
            <div *ngFor="let k of kitchens">
            <p>{{k.campus.name}} : {{k.numberOfPersons}} / {{k.maxPersons}}</p>
            <mat-card class="info-card">
                <div *ngIf="(k.numberOfPersons/k.maxPersons)*100 <=40">
                    <p>Je mag gerust even koffie gaan halen!</p>
                    <mat-progress-bar mode="determinate" value="{{(k.numberOfPersons/k.maxPersons)*100}}" color="accent"></mat-progress-bar>
                </div>
                <div *ngIf="40 < (k.numberOfPersons/k.maxPersons)*100 && (k.numberOfPersons/k.maxPersons)*100 <=80">
                    <p>Het is redelijk druk...</p>
                    <mat-progress-bar mode="determinate" value="{{(k.numberOfPersons/k.maxPersons)*100}}" color="primary"></mat-progress-bar>
                </div>
                <div *ngIf="80 < (k.numberOfPersons/k.maxPersons)*100">
                    <p>Het is ten sterkste afgeraden nu naar de keuken te gaan!</p>
                    <mat-progress-bar mode="determinate" value="{{(k.numberOfPersons/k.maxPersons)*100}}" color="warn"></mat-progress-bar>
                </div>
            </mat-card>
            <br>
            
            </div> 
        </div>
        <div *ngIf="!pageLoaded">
            <mat-progress-spinner style="margin: auto;" mode="indeterminate" color="primary"></mat-progress-spinner>
        </div>
               
        <div class="page-buttons">
            <p *ngIf="currentUserRole">
                <button mat-raised-button color="warn" (click)="resetKitchens()"><mat-icon>refresh</mat-icon> Reset Keukens</button>
            </p>
            <p>
                <button mat-raised-button color="primary" (click)="toHome()"><mat-icon>home</mat-icon> Hoofdmenu</button>
            </p>
        </div>
    </mat-card>
</div>