<div class="page">
    <mat-card>
        <h1>Pauze</h1>
        <hr>
        <p>Drukte in de pauzeruimtes:</p>
        <p>Keuken corda 1 : 5</p>
        <p>Keuken corda 2 : 1</p>
        <mat-card>
            <p>Je mag gerust even koffie gaan halen.</p>
            <p>Het is redelijk druk, draag je mondmasker!</p>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </mat-card>
        <div class="page-buttons">
            <p>
                <button mat-raised-button (click)="toHome()">Hoofdmenu</button>
            </p>
        </div>
    </mat-card>
</div>