<div class="page fade-in">
    <mat-card>
        <h1>Confirm</h1>
        <hr>
        <p *ngIf="reservationsToday === false">Je hebt vandaag geen reserveringen</p>

        <p *ngIf="alreadyConfirmed === true && reservationsToday === true">Je bent al aangemeld, veel plezier op het werk!</p>

        <p *ngIf="!alreadyConfirmed === true && reservationsToday === true">Duw op onderstaande knop om jezelf in te checken:</p>

        <mat-card class="card-warn" *ngIf="!alreadyConfirmed && checkinError"> <!--!currentUser.present === true &&-->
            <mat-card-header>
                <mat-card-title>Inchecken mislukt</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Het inchecken is mislukt, probeer later opnieuw.</p>
            </mat-card-content>
        </mat-card>

        <div class="page-buttons">
            <p *ngIf="!alreadyConfirmed === true && reservationsToday === true">
                <button mat-raised-button color="accent" (click)="onConfirm()">
                    <mat-icon>check</mat-icon> Inchecken
                </button>
            </p>
        </div>

        <div class="page-buttons">
            <p>
                <button mat-raised-button color="primary" (click)="toHome()"><mat-icon>home</mat-icon> Hoofdmenu</button>
            </p>
        </div>
        
    </mat-card>
</div>