<div class="page fade-in" *ngIf="pageLoaded">
  <mat-card>
    <h2>Mijn profiel</h2>
    <hr>
    <div>
      <h2>{{currentUser.name}}</h2>
      <h2>{{currentUser.email}}</h2>
      <!-- <mat-card class="card-accent">
        <h2>Mijn coins</h2>
        <img height="40px" src="../../assets/coin.png" alt="coin">
        <h2>{{currentUser.coins}}</h2>
      </mat-card> -->
      <mat-card class='coin-card'>
        <h2><img height="50px" src="../../assets/coin.png" alt="coin"> <span class="number-coins">{{currentUser.coins}}</span></h2>
      </mat-card>
     
    </div>
    <div class="page-buttons">
      <p>
        <button mat-raised-button color="primary" (click)="onClickHome()">
          <mat-icon>home</mat-icon> Hoofdmenu
        </button>
      </p>
    </div>

    <!-- <button (click)="setLightDarkMode()">Dark Mode</button> -->
    <mat-slide-toggle [(ngModel)]="darkMode" (change)="setLightDarkMode($event)">Dark mode</mat-slide-toggle>

  </mat-card>
</div>
