/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.alarm-snackbar{
    position: relative !important;
    top: 45vh !important;
    background-color: white !important;
    border: red solid 3px;
    color: red !important;
    font-size: xx-large !important;
    width: 50vh !important;
    height: 15vh !important;
    .mat-simple-snackbar-action{
        color: red !important;
    }
}

.warning-snackbar{
    position: relative !important;
    top: 15vh !important;
    background-color: white !important;
    border: #3056a1 solid 3px;
    color: #3056a1 !important;
    font-size: xx-large !important;
    width: 50vh !important;
    height: 6vh !important;
    .mat-simple-snackbar-action{
        color: #3056a1 !important;
    }

}

@media screen and(max-width: 600px){
    *{
        th{
            font-size: 12px !important;
        }
        td{
            font-size: 12px !important;
        }
    }
}


