<div class="page fade-in">
    <mat-card>
        <h1>Inchecken</h1>
        <hr>
        <div class="content">
            <button mat-raised-button (click)="startScan()" color="accent"><mat-icon>qr_code_scanner</mat-icon> Start scan</button>
            <button mat-raised-button (click)="reset()" color="warn" *ngIf="scanResult"><mat-icon>replay</mat-icon> Reset</button>

            <video #video [hidden]="!scanActive" width="100%"></video>
            
            <canvas #canvas hidden></canvas>

            <button mat-raised-button (click)="stopScan()" color="warn" *ngIf="scanActive"><mat-icon>close</mat-icon> Stop scan</button>

            <mat-card class="card-warn" *ngIf="scanResult && !scanSuccessful">
                <mat-card-header>
                    <mat-card-title>QR Code</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Scan was niet succesvol, probeer opnieuw.</p>
                    <!--{{ scanResult }}-->
                </mat-card-content>
            </mat-card>
        </div>
        <div class="page-buttons">
            <p>
                <button mat-raised-button (click)="toHome()" *ngIf="!scanActive"><mat-icon>home</mat-icon> Hoofdmenu</button>
            </p>
        </div>
    </mat-card>
</div>