<div class="page">
    <mat-card>
        <h1>Hoofdmenu</h1>
        <hr>
        <div class="page-buttons">
            <p>
                <button mat-raised-button (click)="toReservations()">Reserveren</button>
            </p>
            <p>
                <button mat-raised-button (click)="toPause()">Pauze</button>
            </p>
            <p>
                <button mat-raised-button (click)="toMyReservations()">Mijn reserveringen</button>
            </p>
            <p>
                <button mat-raised-button (click)="toMeetings()">Meetings bekijken</button>
            </p>
        </div>
    </mat-card>
</div>