.ranking {
    img {
        max-width: 300px;
    }

    table {
        max-width: 300px;
        margin: auto;
        td {
            width: 100px;
            background-color: #DEEBF1;
        }
    }
}