.ranking {
    img {
        max-width: 300px;
    }

    table {
        max-width: 300px;
        margin: auto;
        td {
            color: black;
            padding: 4px;
            width: 100px;
            background-color: #DEEBF1;
        }
    }
}